<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtuosoace.heal">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reg_Main_Userinfo1" />
        <activity android:name=".Reg_Main_Userinfo2" />
        <activity android:name=".Reg_Main_Userinfo3" />
        <activity android:name=".Reg_Main_Userinfo4" />
        <activity android:name=".Reg_Main_UserBlue" />
        <activity android:name=".Reg_Main_Docedu" />
        <activity android:name=".Reg_Main_Userinfo5" />
        <activity android:name=".Demo_User" />
        <activity android:name=".Reg_Main_Docinfo" />
        <activity android:name=".Reg_Main_Docadd" />
        <activity android:name=".Reg_Main" />
        <activity android:name=".Login" />
        <activity android:name=".Medical" />
        <activity android:name=".Medical_Report" />
        <activity android:name=".AddMember"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>
        <activity android:name=".AddDoctor"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>


    </application>

</manifest>